*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

:root {
    --color-primary: #d32f2f;
    --color-secondary: #ffd48f;
    --color-tertiary: #fff8bf;
    --color-quaternary: #fcf7d2;
    --color-quinary: #350f0f;
}

[data-theme="dark"] {
    --color-primary: #dc4e43;
    --color-secondary: #511f1f;
    --color-tertiary: #292525;
    --color-quaternary: #292525;
    --color-quinary: #f7a99c;
}


body {
    position: relative;
    background-color: var(--color-quaternary);
    font-family: 'Courier New', monospace;
    color: var(--color-quinary);
    text-align: center;
    letter-spacing: 0.1em;
    overflow-x: hidden;
}

body::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/bg.png');
    pointer-events: none;
    z-index: -1;
    opacity: 0.025;
    animation: scroll 200s linear infinite;
}

@keyframes scroll {
    100% {
        background-position: 255vw 250vh;
    }
}

[data-theme="dark"] body::after {
    filter: invert(1);
}

.container {
    display: inline-flex;
    flex-direction: row;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

nav ul {
    display: flex;
    flex-direction: row wrap;
    justify-content: space-evenly;
    gap: 0 2rem;
    padding: 8px;
    align-items: center;
    background-color: var(--color-secondary);
    list-style: none;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

nav ul li {
    font-size: 1.2rem;
    transition: all 0.2s ease-in-out;
}

nav ul li:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

nav ul li a {
    text-decoration: none;
    color: var(--color-primary);
}

nav ul li a.active {
    font-weight: bold;
    text-shadow: -1px -1px 0 var(--color-tertiary), 1px 1px 0 var(--color-tertiary), 1px -1px 0 var(--color-tertiary), -1px 1px 0 var(--color-tertiary);
}

a {
    color: var(--color-primary);
    text-decoration: none;
}

.modeSwitch {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color-quinary);
    color: var(--color-quaternary);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    align-self: center;
    border: none;
}

.content {
    display: none
}

.main-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: left;
    background-color: var(--color-tertiary);
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px;
    border: 1px solid var(--color-primary);
    max-width: 800px;
}

.main-content h1,
.main-content h2 {
    padding-bottom: 10px;
}

.snowflake {
    position: absolute;
    top: -200px;
    border-radius: 50%;
    background: white;
    opacity: 0.6;
    animation: drift linear infinite;
}

@keyframes drift {
    0% {
        transform: translateX(0) translateY(-10vh);
    }

    100% {
        transform: translateX(100px) translateY(200vh);
    }
}

h1,
h2 {
    color: var(--color-primary);
}

hr {
    border: none;
    border-top: 5px dotted var(--color-secondary);
    width: 100px;
    margin: 20px auto;
}

.introduction {
    margin: 0 auto;
    font-size: 1.1rem;
}


.logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 35px auto;
}

.links {
    display: block;
    margin: 10px auto;
    padding: 15px 20px;
    max-width: 400px;
    font-size: 0.95rem;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    text-align: center;
}


.links:hover {
    animation: shake 0.5s infinite;
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70% {
        transform: translateX(-1px);
    }

    20%,
    40%,
    60% {
        transform: translateX(1px);
    }

    80% {
        transform: translateX(8px);
    }

    90% {
        transform: translateX(-8px);
    }
}

.links-red {
    background-color: #ffa093;
}

.links-purple {
    background-color: #b39ddb;
}

.links-green {
    background-color: #73e2a7;
}

.links-yellow {
    background-color: #ffc15e;
}

.channels {
    display: flex;
    justify-content: center;
    gap: 10px;
    max-width: 400px;
    margin: 20px auto;
}

.channels_item {
    transition: transform 0.2s;
    color: var(--color-primary);
}

.channels_item:hover {
    transform: scale(1.1) rotate(360deg);
    transition: transform 0.5s;
}

@media (max-width: 768px) {
    .container {
        transform: scale(1);
        width: 100%;
    }

    .introduction,
    .content,
    footer {
        padding: 10px;
    }

    .logo {
        width: 100px;
        height: 100px;
    }

    .links {
        padding: 10px 20px;
        max-width: 100%;
    }

    .channels {
        flex-direction: row;
        justify-content: center;
        gap: 5px;
    }
}

.buttons-container {
    text-align: center;
    margin: 10px auto;
}

.link-container {
    position: relative;
    display: inline-block;
    margin: 0 auto;
}

.iframe-popup {
    visibility: hidden;
    position: absolute;
    width: 646px;
    height: 190px;
    z-index: 1;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    transition-delay: 0s, 0s;
}

.links_second:hover+.iframe-popup.dual-snake,
.links_third:hover+.iframe-popup.primateria,
.iframe-popup:hover {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s, 0s;
}

.link-container:hover .iframe-popup,
.iframe-popup:hover {
    visibility: visible;
    opacity: 1;
}

.post,
.project {
    border: 2px solid var(--color-quinary);
    border-radius: 15px;
    padding: 20px;
    margin: 10px 0;
}

.title {
    font-size: 20px;
    font-weight: bold;
    align-self: center;
}

.text {
    font-size: 14px;
    margin: 10px 0;
}

.project {
    background-color: var(--color-quaternary);
}

footer .external-links {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-bottom: 20px;
}