.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-items: center;
    padding: 10px;
}

.image-container {
    width: 100%;
    padding-top: 100%;
    position: relative;
    overflow: hidden;
    background: #f0f0f0;
    border-radius: 10px;
}

.image-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: transform 0.3s;
}

.image-container.selected {
    position: relative;
}

.image-container.selected::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.image-container.selected::after {
    content: "SELECTED";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    z-index: 2;
    text-align: center;
}

.view-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    border: none;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.view-btn:hover {
    background-color: #555;
}

@media screen and (max-width: 992px) {
    .image-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .image-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 576px) {
    .image-grid {
        grid-template-columns: 1fr;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    padding: 20px;
    overflow: auto;
}

.modal-content {
    position: relative;
    max-width: 80%;
    max-height: 80vh;
    object-fit: contain;
    border-radius: 8px;
    margin: auto;
    background: transparent;
}

.close {
    top: 10px;
    right: 10px;
    position: absolute;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    z-index: 101;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    opacity: 0.8;
}

#submit-vote {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#submit-vote:hover {
    background-color: #45a049;
}

.image-title {
    text-align: center;
    margin-top: 5px;
    padding: 5px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
}

#turnstile-container {
    display: flex;
    justify-content: center;

    margin-bottom: 20px;

}

.cf-turnstile {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#submit-vote {
    display: block;
    margin: 0 auto;
}

#submit-vote:disabled {
    background-color: #999;
    color: #333;
    cursor: not-allowed;
}

.terms {
    margin-top: -10px;
    padding-left: 50px;
    padding-bottom: 25px;
}

.language-switcher {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
    display: flex;
    gap: 10px;
}

.flag {
    width: 30px;
    height: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.flag:hover {
    transform: scale(1.1);
}

.language-warning {
    position: fixed;
    top: 50px;
    right: 10px;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    color: #333;
    display: none;
}