.site-box {
    text-align: center;
    background-image: url(https://fairfruit.nekoweb.org/img/sitebox-bg.png);
    background-repeat: no-repeat;
    color: #fff8bf;
    font-size: 12px;
}

.site-box>a>p {
    color: var(--darkbrown);
    font-weight: bold;
}

.site-box>a>span {
    color: var(--darkbrown);
}

.site-box::after {
    content: url(https://fairfruit.nekoweb.org/img/sitebox-fg.png);
    display: block;
    position: relative;
    bottom: 149px;
    right: -112px;
}