name: Build and Deploy to Nekoweb

on:
  push:
    branches:
      - release/dev

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Install NVM
      run: |
        curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.38.0/install.sh | bash

    - name: Install Node.js and build
      run: |
        chmod +x ./build.sh
        ./build.sh

    - name: Upload build artifacts
      uses: actions/upload-artifact@v2
      with:
        name: build
        path: ./build

  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Download build artifacts
      uses: actions/download-artifact@v2
      with:
        name: build
        path: ./build

    - name: Deploy to Nekoweb
      uses: mp-pinheiro/nekoweb-deploy@main
      with:
        API_KEY: ${{ secrets.NEKOWEB_API_KEY }}
        BUILD_DIR: './build'
        DEPLOY_DIR: '/'
        CLEANUP: 'False'
        NEKOWEB_PAGENAME: 'fairfruit'
        ENCRYPTION_KEY: ${{ secrets.NEKOWEB_ENCRYPTION_KEY }}
