name: Build and Deploy to Nekoweb

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Bun
      uses: oven-sh/setup-bun@v2

    - name: Install dependencies
      run: bun install --frozen-lockfile

    - name: Build
      run: bun run build

    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: build
        path: ./build

  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Download build artifacts
      uses: actions/download-artifact@v4
      with:
        name: build
        path: ./build

    - name: Deploy to Nekoweb
      uses: mp-pinheiro/nekoweb-deploy@main
      with:
        API_KEY: ${{ secrets.NEKOWEB_API_KEY }}
        BUILD_DIR: './build'
        DEPLOY_DIR: '/'
        CLEANUP: 'False'
        NEKOWEB_PAGENAME: 'fairfruit'
        ENCRYPTION_KEY: ${{ secrets.NEKOWEB_ENCRYPTION_KEY }}
